* {
  margin: 0;
  margin-bottom: 10px;
}

header img {
  width: 8%;
  height: 8%;
}

main {
  display: flex;
  padding: 30px;
}

header h1 {
  font-size: 80px;
  color: aliceblue;
}

.header {
  background-color: rgb(50, 167, 145);
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.trybewarts-login {
  display: flex;
  align-items: center;
}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
}

#trybewarts-forms-logo {
  height: 500px;
}

#label-radio {
  display: flex;
  flex-direction: column;
}

#name-lastname {
  width: 800px;
  /* background-color: aqua; */
}
